.grid {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 200px;
    width: 200px;
    border: solid black 1px;

}

.promes{
    background-image: url("quincy-promes-11548370787wffce7bc8l.png");
    background-size: cover;
}