body{
    background-image: url(Politie.jpg);
    background-size: cover;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
    color: white;
}

h1 {
    padding-top: 300px;
}

.grid {
    width: 612px;
    height: 612px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.square {
    height: 200px;
    width: 200px;
    border: solid white 2px;

}

.promes{
    background-image: url("promes.png");
    background-size: cover;
}

img{
    width: 200px; /* Stel de breedte van de afbeelding in */
    height: 200px;
}
